<!doctype html>
<html>
<head>
    <title>Researchify</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Research Post</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3>Your Profile</h3>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                <% if (user.local.email) { %>
                    <p class="hidden">
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class=" hidden btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class=" hidden btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">

          <h2>Edit Your Study</h2>
        <% if (user.local.email) { %>
          <% for(let i=0; i<study.length; i++) {%>
          <!-- using method overide package to overide the post route as a put. The query overides post-->
          <form action="/editStudy/<%= study[i]._id %>?_method=PUT" method="POST">
            <input  type="text" value="<%= user._id %>" name="researcherId" hidden>
            <label for="name">Researcher's name</label>
            <input class="form-control" type="text" value="<%= study[i].name %>" name="name">
            <label class="form-label" for="title">Title of Your Study</label>
            <input class="form-control" type="text" value="<%= study[i].title %>"placeholder="Title of Study" name="title">
            <label class="form-label"for="type">Type of Study</label>
            <input class="form-control"  type="text" value="<%= study[i].type %>"placeholder="Study type" name="type">
            <label class="form-label" for="description">Description of Your Study</label>
            <textarea class="form-control" name="description" id="description" cols="30" rows="10"><%= study[i].description %></textarea>
            
            <button >Submit</button>
          </form>
        </div>
          <% } %>
        <% } %>

</div>

<script src="main.js"></script>

</body>
</html>
 