<!doctype html>
<html>
<head>
    <title>Researchify</title>
    <%- include('partials/bootstrap.ejs') %>
</head>
<body>
<% if(user.local.userType==="participant"){ %>
    <%- include('partials/nav.ejs') %>
<div class="container">

  <div class="page-header text-center">
      <h1>Participant Profile</h1>
      
  </div>

  <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col">
          <div class="well ">
              <h3>Your Profile</h3>
              
              <% if (user.local.email) { %>
                  <p class="">
                      <strong>Name</strong>: <%= user.local.fullName %><br>
                      <strong>Organization</strong>: <%= user.local.organization %><br>
                  </p>
              
                  <a href="/unlink/local" class=" hidden btn btn-default">Unlink</a>
              <% } else { %>
                  <a href="/connect/local" class=" hidden btn btn-default">Connect Local</a>
              <% } %>

          </div>
      </div>
      <div class="row">
        <h3>Studies You Can Join</h3>
        <% for(let i=0; i<studies.length; i++) {%>
            <div class="col-sm-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <span class="hidden"><%= studies[i]._id %></span>
                        <h4 class="card-title"><%= studies[i].title %></h4>
                        <h5 class="card-subtitle mb-2 text-muted"><%= studies[i].type %></h5>
                        <p class="card-text"><%= studies[i].description %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Participants: <%= studies[i].participants.length %></li>
                    </ul>
                    <div class= "card-body">
                        <a href="/studyDetails/<%= studies[i]._id %>"><button class=" btn btn-dark"> Sign Up</button></a>
                    </div>
                </div>
            </div>
  <% } %>
      </div>
</div>


    
</div>

<% } %>
<script src="main.js"></script>

</body>
</html>
