<!doctype html>
<html>
<head>
    <title>Researchify</title>
    <%- include('partials/bootstrap.ejs') %>
</head>
<body>
  <% if(user.local.userType ==="researcher"){ %>
    <%- include('partials/nav.ejs') %>
    <div class="container">

        <div class="page-header text-center">
            <h1></span> Researcher's Feed</h1>
            
        </div>

        <div class="row justify-content-center">

            <!-- LOCAL INFORMATION -->
            <div class="col">
                    <h3>Your Profile</h3>
                    
                    <% if (user.local.email) { %>
                        <p>
                            <strong>Name:</strong> <%= user.local.fullName %><br>
                            <strong>School/Organization:</strong> <%= user.local.organization %><br>
                            <strong>Number of Studies:</strong><%= studies.length %>
                        </p>
                        <a href="/createStudy" class=" btn btn-dark">Create Study</a>
                    <% } else { %>
                        <a href="/connect/local" class=" hidden btn btn-default">Connect Local</a>
                    <% } %>
            </div>
        <div class="row">
           
              <h3>Your Studies</h3>
                      <% for(let i=0; i<studies.length; i++) {%>
                        <div class="col-sm-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <span class="hidden"><%= studies[i]._id %></span>
                                    <h4 class="card-title"><%= studies[i].title %></h4>
                                    <h5 class="card-subtitle mb-2 text-muted"><%= studies[i].type %></h5>
                                    <p class="card-text"><%= studies[i].description %></p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Participants: <%= studies[i].participants.length %></li>
                                </ul>
                                <div class= "card-body">
                                    <span><a href="/editStudy/<%= studies[i]._id %>" class="card-link"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
                                    <span><i class="fa fa-ban" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
              <% } %>
        </div>   
    </div>

<% } %>

<script src="main.js"></script>

</body>
</html>
