<!doctype html>
<html>
<head>
    <title>Researchify</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- THIS IS THE OTHER PAGE -->

    <%- include('partials/nav.ejs') %>
<div class="container">

  <div class="page-header text-center">
      <h1>Search Results</h1>
      
  </div>

  <div class="row">

      <!-- LOCAL INFORMATION -->
       
        <% for(let i=0; i<studies.length; i++) {%>
            <div class="col-sm-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <span class="hidden"><%= studies[i]._id %></span>
                        <h4 class="card-title"><%= studies[i].title %></h4>
                        <h5 class="card-subtitle mb-2 text-muted"><%= studies[i].type %></h5>
                        <p class="card-text"><%= studies[i].description %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Participants: <%= studies[i].participants.length %></li>
                    </ul>
                    <div class= "card-body">
                        <a href="/studyDetails/<%= studies[i]._id %>"><button class=" btn btn-dark"> Sign Up</button></a>
                    </div>
                </div>
            </div>
  <% } %>

  
    
</div>

<script src="main.js"></script>

</body>
</html>
