<!doctype html>
<html>
<head>
    <title>Researchify</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <div class="page-header text-center">
            <h1></span> Study View</h1>
            
        </div>

        <div class="row">

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3>Your Profile</h3>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                    <% if (user.local.email) { %>
                        <p class="hidden">
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>
                        <a href="/createStudy" class=" btn btn-default">Create Study</a>
                        <a href="/unlink/local" class=" hidden btn btn-default">Unlink</a>
                    <% } else { %>
                        <a href="/connect/local" class=" hidden btn btn-default">Connect Local</a>
                    <% } %>

                </div>
            </div>
            <div class="col-sm-6">
                        <h3><%= study.title %></h3>
                      <div class="card-body">
                        <span class="hidden"><%= study._id %></span>
                        
                        <p class="card-text"><%= study.participants %></p>
                        <h4 class="card-title"><%= study.title %></h4>
                        <h5 class="card-subtitle mb-2 text-muted"><%= study.type %></h5>
                        <p class="card-text"><%= study.description %></p>
                        <span><i class="fa fa-ban" aria-hidden="true"></i></span>
                      </div>
                    </div>
                    <% if (!study.isParticipant){ %>
                    <form action="/studySignup/<%= study._id  %>/<%= user._id  %>?_method=PUT" method="POST">
                        <input type="submit" name="signupSubmit" id="signupBtn">
                    </form>
                    <% } %>
                
    </div>



<script src="main.js"></script>

</body>
</html>
